@page
@model IndexModel


@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>
<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Date
            </th>
            <th>
                Summary
            </th>
            <th>
                TemperatureC
            </th>
            <th>
                TemperatureF
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var weatherForecast in Model.WeatherForecasts)
        {
            <tr>
                <td>
                    @weatherForecast.Id
                </td>
                <td>
                    @weatherForecast.Date
                </td>
                <td>
                    @weatherForecast.Summary
                </td>
                <td>
                    @weatherForecast.TemperatureC
                </td>
                <td>
                    @weatherForecast.TemperatureF
                </td>
            </tr>
        }
    </tbody>
</table>